<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твоя Идея</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>



<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__block">
                <a href="/" class="header__logo">
                    <img src="img/Logo.svg" alt="">
                </a>
            </div>

            <nav class="nav">
                <a href="/" class="nav_link">Главная страница</a>
                <a href="/ideas" class="nav_link">Каталог идей</a>
                <a href="/account" class="nav_link">Личный кабинет</a>
            </nav>
            <div class="header__block" th:if="not ${token}">
                <nav class="login">
                    <a href="/register" class="nav_login">Зарегистрироваться</a>
                    <a href="/login" class="nav_login">Войти</a>
                </nav>
            </div>


        </div>
    </div>
</header>


<div class="container mt-3">
    <h1 th:text="${title}"/>
    <form action="/ideas/add" method="post">
        <p class="text1">Название:</p>
        <input type="text" min=0 step=0.01 name="name" class="form-control" required><br>
        <p class="text1">Сфера:</p>
        <input type="text" min=0 step=0.01 name="sphere" class="form-control" required><br>
        <p class="text1">Статус:</p>
        <input type="text" min=0 step=0.01 name="status" class="form-control" required><br>
        <p class="text1">Тэг:</p>
        <input type="text" min=0 step=0.01 name="tag" class="form-control" required><br>
        <p class="text1">Проект:</p>
        <input type="text" min=0 step=0.01 name="project" class="form-control" required><br>
        <p class="text1">Описание:</p>
        <input type="text" min=0 step=0.01 name="descript" class="form-control" required><br>
        <p class="text1">Задача:</p>
        <input type="text" min=0 step=0.01 name="task" class="form-control" required><br>
        <button type="submit" class="but_idea">
            Добавить идею
        </button>
    </form>
</div>


<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_block">
                <div class="nav">
                    <a href="/" class="foot_nav">Главная страница</a>
                    <a href="/ideas" class="foot_nav">Каталог идей</a>
                    <a href="/account" class="foot_nav">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>