<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твоя Идея</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>



<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__block">
                <a href="/" class="header__logo">
                    <img src="img/Logo.svg" alt="">
                </a>
            </div>

            <nav class="nav">
                <a href="/" class="nav_link">Главная страница</a>
                <a href="/ideas" class="nav_link">Каталог идей</a>
                <a href="/account" class="nav_link">Личный кабинет</a>
            </nav>
            <div class="header__block" th:if="not ${token}">
                <nav class="login">
                    <a href="/register" class="nav_login">Зарегистрироваться</a>
                    <a href="/login" class="nav_login">Войти</a>
                </nav>
            </div>


        </div>
    </div>
</header>


<section class="idea_pg">
    <div class="container">
        <h1 class="yp_tx1">Оцени идеи других, <br />
            поучаствуй в их реализации <br /> или начни свой проект!
        </h1>
        <div class="hp_tx4">Нажми “откликнуться”, чтобы поучаствовать <br />
            Или предложи свою идею.
        </div>
        <button class="but_idea">
            <a th:href="'/ideas/add'" class="but_idea_txt">Предложить идею</a>
        </button>
        <h2 class="yp_tx2">Фильтр</h2>
        <div class="flex3">
            <p class="text1">Поиск по названию</p>
            <p class="text1">Поиск по тегам</p>
        </div>
        <div class="flex2">
            <div class="btn"></div>
            <div class="btn"></div>
        </div>
        <div class="reg__content">
            <div class="back__ip">
                <div class="contein_cont">

                    <div class="container mt-3">
                        <h1 th:text="${title}"/>
                        <div th:each="el : ${ideas}" class="alert alert-info mt-2">
                            <h3 th:text="${el.id}"/>
                            <h3 th:text="${el.name}"/>

                            <div class="row">
                                <div class="col-md-auto">
                                    <a th:href="'/ideas/find/byId/' + ${el.id}" th:text="'Details'" class="btn btn-warning"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_block">
                <div class="nav">
                    <a href="/" class="foot_nav">Главная страница</a>
                    <a href="/ideas" class="foot_nav">Каталог идей</a>
                    <a href="/account" class="foot_nav">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>