<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твоя Идея</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>



<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__block">
                <a href="/" class="header__logo">
                    <img src="img/Logo.svg" alt="">
                </a>
            </div>

            <nav class="nav">
                <a href="/" class="nav_link">Главная страница</a>
                <a href="/ideas" class="nav_link">Каталог идей</a>
                <a href="/account" class="nav_link">Личный кабинет</a>
            </nav>
            <div class="header__block" th:if="not ${token}">
                <nav class="login">
                    <a href="/register" class="nav_login">Зарегистрироваться</a>
                    <a href="/login" class="nav_login">Войти</a>
                </nav>
            </div>


        </div>
    </div>
</header>


<section class="log_in">
    <div class="container">
        <h1 class="reg__title">Войти</h1>
        <div class="cont_login">
            <form action="/login" method="post">
                <input type="text" name="login" placeholder="Логин" class="btn_log" required>
                <input type="text" name="password" placeholder="Пароль" class="btn_log" required>
                <button type="submit" class="btn_log1">Войти</button>
            </form>

        </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_block">
                <div class="nav">
                    <a href="/" class="foot_nav">Главная страница</a>
                    <a href="/ideas" class="foot_nav">Каталог идей</a>
                    <a href="/account" class="foot_nav">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>